In [1]:
#Dependencies and Setup
import pandas as pd
import numpy as np

#Setting path to pull file from
file = "Resources/purchase_data.csv"

#Read pulled file and store into Pandas data frame
purchase_data = pd.read_csv(file)

## Player Count

In [2]:
#Calculating the unique screen names
unique_accounts = (purchase_data["SN"].unique())
total_accounts = len(unique_accounts)

#Display the total number of accounts
total_accounts

576

## Purchasing Analysis (Total)

In [3]:
#Storing data into variables using basic calculations
unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
total_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

#Creating a DataFrame to display
total_df = pd.DataFrame({"Number of Items":[unique_items],
                         "Average Price":[average_price], 
                         "Total Purchases": [total_purchases], 
                         "Total Revenue": [total_revenue]})

#Altering format to better showcase data
total_df.style.format({'Average Price':"${:,.2f}", 
                       'Total Revenue': '${:,.2f}'})

## Gender Demographics

In [4]:
#Storing data into variables using basic calculations
gender_group = purchase_data.groupby("Gender")
gender_count = gender_group.nunique()["SN"]
players_percentage = gender_count / total_accounts * 100

#Creating a DataFrame to display
gender_demo = pd.DataFrame({"Percentage of Players": players_percentage, "Total Count": gender_count})

#Altering format to better showcase data
gender_demo.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

In [6]:
#Storing data into variables using basic calculations
purchase_count = gender_group["Purchase ID"].count()
avg_price = gender_group["Price"].mean()
avg_value = gender_group["Price"].sum()
per_person = avg_value/gender_count

#Creating a DataFrame to display
gender_demo = pd.DataFrame({"Purchase Count": purchase_count, 
                            "Average Price": avg_price,
                            "Average Value": avg_value,
                            "Average per Person": per_person})

#Altering format to better showcase data
gender_demo.style.format({"Average Value":"${:,.2f}",
                          "Average Price":"${:,.2f}",
                          "Average per Person":"${:,.2f}"})

## Age Demographics

In [10]:
#Establishing bins 
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

#Storing data into variables using basic calculations
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
age_group = purchase_data.groupby("Age Group")
age_count = age_group["SN"].nunique()
age_percentage = (age_count/total_accounts) * 100

#Creating a DataFrame to display
age_demo = pd.DataFrame({"Percentage of Players": age_percentage, "Total Count": age_count})

#Altering format to better showcase data
age_demo.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

In [12]:
#Storing data into variables using basic calculations
count_age = age_group["Purchase ID"].count()
avg_age_purchase = age_group["Price"].mean()
total_value = age_group["Price"].sum()
avg_per_age = total_value/age_count

#Creating a DataFrame to display
age_demo = pd.DataFrame({"Purchase Count": count_age,
                         "Average Purchase Price": avg_age_purchase,
                         "Total Purchase Value": total_value,
                         "Average per Person": avg_per_age})


#Altering format to better showcase data
age_demo.style.format({"Average Purchase Price":"${:,.2f}",
                       "Total Purchase Value":"${:,.2f}",
                       "Average per Person":"${:,.2f}"})

## Top Spenders

In [14]:
#Storing data into variables using basic calculations
spenders = purchase_data.groupby("SN")
spender_count = spenders["Purchase ID"].count()
spender_avg = spenders["Price"].mean()
spender_total = spenders["Price"].sum()

#Creating a DataFrame to display
top_spenders = pd.DataFrame({"Purchase Count": spender_count,
                             "Average Purchase Price": spender_avg,
                             "Total Purchase Value": spender_total})

#Altering format to better showcase data
top_spenders.sort_values("Total Purchase Value", ascending=False).head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame